<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<div class="wrapper">
	<h1>Todo List</h1>
	{% if td_dict %}
	<ul>
		{% for key, value in td_dict.items() %}
		<li>
			<a href="{{ url_for('get_todo', id=key) }}">{{ value['title'] }}</a>
			<form action="{{ url_for('delete_todo', id=key) }}" method="post">
			    <button name="todo">x</button>
			</form>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	<h1><a href="{{ url_for('new_todo') }}">New ToDo</a></h1>
</div>
