{% extends "base.html" %}
{% block content %}

	<form method="post">
		<div class="mb-3">
			<label for="tit" class="form-label">Title</label>
			<input type="text" id="tit" value="{{ item[0] }}" name="title" class="form-control form-control-lg">
		</div>
		<div class="mb-3">
			<label for="desc" class="form-label">Descripiton</label>
			<textarea name="description" id="des" class="form-control" style="height: 200px">{{ item[1] }}</textarea>
		</div>
		<div class="mb-3">
			<label for="cnt" class="form-label">Count balls</label>
			<input type="number" min="0" id="cnt" value="{{ item[2] }}" name="count" class="form-control form-control-lg">
		</div>
		<button type="submit" class="btn btn-success ms-auto">Save</button>
	</form>
{% endblock %}
